# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
env/
venv/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.sqlite3
db.sqlite3
instance/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Docker-related files
docker-compose.override.yml

# Ignore environment variables file
.env
.env.dev